body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.status.registered {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

h3 {
    margin-top: 0;
    font-size: 24px;
}

.tab-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.tab-link.active {
    background-color: #03346E;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.data-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.personal-info {
    flex: 2;
}

.personal-info p {
    margin: 5px 0;
}

.photos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo-item {
    text-align: left;
}

.photo-placeholder {
    background-color: #f1f1f1;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-placeholder::before {
    content: '📷';
    font-size: 50px;
    color: #aaa;
}





/* Mengatur gambar profil */
.profile-pic img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 15px;
}

.head {
    display: flex;
    align-items: center;
}

.info {
    color: #F05757;
    background-color: #F1BBC6;
    height: 25px;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 5px;
}
.info p{
    font-size: 0.85rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
}
td{
    padding: 10px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    margin: 0;
}

.details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.details > div {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    color: #6b6b6b;
}

.details i {
    margin-right: 5px;
}

.details p {
    margin: 0;
}

.no, .user, .email, .ttl, .gender {
    display: flex;
    align-items: center;
}



