img{
    border-radius: 100%;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; /* Mengatur jarak antar sel */
}

td {
    padding: 10px; /* Menambahkan jarak di dalam setiap sel */
}
